form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
    box-sizing: border-box;
    height: 17vh;
    width: 100vw;
}

label {
    font-weight: bold;
    color: rgba(255, 183, 3);
    margin-right: 20px;
}

input {
    border: none;
    border-bottom: 3px solid rgba(255, 183, 3);
    font-size: 1.6vw;
    width: 200px;
    text-align: center;
    background-color: transparent;
    color: rgba(255, 183, 3);
    height: 29px;
}

input:focus {
    outline: none;
}

::placeholder { 
    color: rgba(255, 183, 3, 0.8);
}

