form {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-size: 1.8vw;
}

label {
    font-weight: bold;
}

input {
    border: none;
    border-bottom: 3px solid #023047;;
    font-size: 1.6vw;
    width: 200px;
    text-align: center;
    background-color: transparent;
    color: rgba(255, 183, 3);
    caret-color: rgba(2, 48, 71, 0.7);
}

input:focus {
    outline: none;
}

::placeholder { 
    color: rgba(255, 183, 3);
}

