h2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    opacity: 0;
    animation: setOpacity 4.5s forwards;
}

div.results {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p.bottomparagraphs {
    opacity: 0;
    animation: setOpacity 4.5s forwards;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    font-size: 22px;
    width: 40%;
}

p.bottomparagraphs:first-child {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 20px;
    display: flex;
    justify-content:flex-start;
    margin-left: 100px;
}

p.bottomparagraphs:last-child {
    position: fixed;
    bottom: 1;
    right: 0;
    display: flex;
    justify-content:flex-end;
}


@keyframes setOpacity{
    from {opacity: 0;}
    to {opacity: 1;}
}