h2 {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: setOpacity 4.5s forwards;
    height: 5vh;
    font-size: 1.2vw;
}

div.results {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 68vh;
}

div.bottomparagraphs {
    opacity: 0;
    animation: setOpacity 4.5s forwards;
    color: rgba(60, 92, 130, 0.6);
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 10vh;
}

#weatherIcon {
    height: 40px;
    margin-top: -5px;
}

@keyframes setOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 992px) {
    h2 {
        font-size: 1.4vw;
    }

    div.bottomparagraphs {
        font-size: 16px;
    }

    #weatherIcon {
        height: 30px;
        margin-top: -7px;
    }
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 1.6vw;
    }

    div.bottomparagraphs {
        font-size: 18px;
    }

    #weatherIcon {
        height: 25px;
    }
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 2.2vw;
    }

    div.bottomparagraphs {
        font-size: 30px;
    }

    #weatherIcon {
        height: 20px;
        margin-top: -5px;
    }
}