h2 {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: setOpacity 4.5s forwards;
    height: 5vh;
    font-size: 1.2vw;
}

div.results {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 68vh;
}

div.bottomparagraphs {
    opacity: 0;
    animation: setOpacity 4.5s forwards;
    color: rgba(60, 92, 130, 0.6);
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 10vh;
}

@keyframes setOpacity{
    from {opacity: 0;}
    to {opacity: 1;}
}