* {
    box-sizing: border-box;
}

html {
    min-block-size: 100vh;
}

body {
    background-image: linear-gradient(#FEFEFE, #BDE0FE);
    min-block-size: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #4c76d8;
    margin: 0;
}

.between-10-and-25-theme .weather-element-icon {
    color: #4c76d8;
}

.between-10-and-25-theme input {
    border-block-end-color: #456bc5;
    color: #3e62b6;
}

.between-10-and-25-theme h3,
.between-10-and-25-theme footer {
    color: #3e62b6;
}

.sunny-warm-theme {
    background-image: linear-gradient(#f5f54330, #cbb43149);
    color: rgb(212, 149, 31)
}

.sunny-warm-theme .weather-element-icon,
.sunny-theme .weather-element-icon {
    color: rgb(254, 196, 87);
}

.sunny-warm-theme input {
    border-block-end-color: rgb(205, 157, 68);
    color: rgb(205, 157, 68);
}

.sunny-warm-theme .card,
.sunny-warm-theme .card-overlay {
    box-shadow: 3px 3px 10px 0px rgb(254 196 87 / 52%);
}

.sunny-warm-theme hr {
    border-color: rgb(254 196 87 / 39%)
}

.sunny-warm-theme h3,
.sunny-warm-theme footer,
.sunny-theme h3 {
    color: rgb(205, 157, 68);
}

.sunny-theme input {
    border-block-end-color: #7d98d5;
    color: #7d98d5;
}

.sunny-warm-theme a, .sunny-theme a {
    color: rgb(212, 149, 31)
}

.sunny-warm-theme a:visited,
.sunny-warm-theme a:focus-visible,
.sunny-theme a:visited,
.sunny-theme a:focus-visible {
    color: rgb(167, 118, 27)
}

.sunny-warm-theme a:hover, .sunny-theme a:hover {
    color: rgb(140, 104, 37)
}

.sunny-warm-theme a:active, .sunny-theme a:active {
    color: rgb(229, 168, 55)
}

.sunny-warm-theme footer, .sunny-theme footer {
    color: rgb(140, 104, 37);
    background-color: #a4c3f154;
}

.night-theme {
    background-image: linear-gradient(#2650b2, #0c1c40);
    color: #cddcff;
}

.night-theme .overlay,
.night-theme .card-overlay {
    background-color: #2c2b2b6a;
}

.night-theme input {
    border-block-end-color: #d9e3fc;
    color: #d9e3fc;
}

#root {
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1
}

div {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    color: #8b66f9;
    text-align: start;
    font-size: 1rem;
    padding-inline-start: 1rem;
    font-weight: normal;
}

hr {
    border: 1px solid #5580e733;
    border-radius: 20px;
    inline-size: 70%;
}

.purple-start-text {
    color: #8b66f9;
    text-align: start;
    padding-inline-start: 1rem;
}

.main-hr {
    border-width: 2px;
    inline-size: 90%;
}

input {
    border: none;
    border-block-end: 2px solid #a688ff;
    outline: none;
    background: transparent;
    text-align: center;
    color: #7f67c6;
}

.bigger-text {
    font-size: 1.15rem;
}

.smaller-text {
    font-size: 0.75rem;
}

.no-margin {
    margin: 0;
}

.no-margin-block-end {
    margin-block-end: 0;
}

.sum-container {
    padding: 1rem;
    background-color: #5580e733;
    margin-inline: auto;
    margin-block-start: 1rem;
    position: relative;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFFBF;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
}

.sunny-background .sum-container {
    box-shadow: 3px 3px 10px 0px #969615a9;
    background-color: #fcfc9933;
}

.card-container {
    display: flex;
    gap: 0.75rem;
    padding: 1rem;
    overflow: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card-container::-webkit-scrollbar {
    display: none;
}

.card,
.card-overlay {
    flex: 1 1 calc(20% - 10px);
    min-inline-size: 100px;
    max-inline-size: 300px;
    padding-block-start: 1rem;
    box-shadow: 3px 3px 10px 0px #a3bdfb;
    border-radius: 1rem;
    position: relative;
    background-size: cover;
    background-position: center;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFFBF;
    z-index: 1;
}

.card-content {
    position: relative;
    z-index: 2;
}

.card img {
    width: 50px;
}

img {
    box-shadow: 3px 3px 10px 0px #a3bdfb;
    border-radius: 50%;
    background-color: #4361ee33;
}

.sum-container .content img {
    margin-block-start: 0.5rem;
}

.scroll-container {
    position: relative;
}

.scroll-fade-left,
.scroll-fade-right {
    position: absolute;
    top: 0;
    width: 25px;
    block-size: 100%;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.scroll-fade-left {
    left: 0;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.scroll-fade-right {
    right: 0;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.weather-element-icon {
    font-size: 2rem;
    color: #a688ff;
}

.icon-container {
    block-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 0;
    background: #4361ee33;
    color: white;
    padding: 1rem;
    font-size: 0.75rem;
}

a {
    color: white;
}

a:visited {
    color: #8f74e1;
}

a:hover,
a:focus-visible {
    color: #a688ff;
}

a:active {
    color: #4361ee;
}

@media (min-width: 1024px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-inline: 10rem;
        justify-content: center;
    }

    .scroll-container:nth-of-type(3) .card {
        flex: 1 1 calc(20% - 10px);
    }

    .forecast-card-container .card:first-child {
        grid-row: span 2;
    }

    .forecast-card-container .card:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card:first-child img {
        inline-size: 100px;
    }

    .forecast-card-container .card:first-child .icon-container {
        block-size: 100px;
    }

    .weather-element-icon {
        font-size: 2.3rem;
    }

    .smaller-text {
        font-size: 1rem;
    }

    .bigger-text {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3,
    h3>p {
        padding-inline-start: 5rem;
    }

    footer {
        font-size: 1rem;
    }
}